@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafb;
}

input[type="file"] {
  color: transparent;
}

.loading-bar {
  display: block;
  position: relative;
  height: 4px;
  width: 100%;
  border-radius: 8px;
  background-color: #f2f2f2;
}
.loading-bar::before {
  content: "";
  background-color: #2f80ed;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 8px;
  animation: moving 1.3s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
